@font-face {
  font-family: 'amsterdam-one';
  src: url('../assets/font/amsterdam-one.ttf') format('truetype');
}

@font-face {
  font-family: 'montigny';
  src: url('../assets/font/FontsFree-Net-Montigny-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background-image: url('./img/o657.jpg');
  /*background-color: #ffff;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esta línea hace que la imagen de fondo permanezca fija */
  min-height: 100vh;
  overflow: auto;
}

.rectanguloPadre {
  width: 1000px;
  height: 4430px;
  margin-top: 50px;
  background:#ffffffe0;
}

.parentContainer {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
}

.circleTitle{
  width: 80%; /* Ajuste para móviles */
  max-width: 583px;
  height: auto;
  margin: 15px;
  background-color: #ffff; 
  border-radius: 50%; /* Hacerlo más adaptable */
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.circleTitle img {
  border-radius: 200px;
}

.bar {
  width: 583px;
  height: 148px;
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-radius: 500px;
  background: rgba(255, 255, 255, 0.86);
  position: absolute; /* Si deseas que bar esté posicionado absolutamente dentro de circleTitle */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para una centrado perfecto */
}

.ampersand {
  color: #7c60384f;
  font-family: 'Kolker Brush';
  font-size: 138px;
  font-style: normal;
  font-weight: 400;
  line-height: 72%;
}

.myt {
  position: absolute;
  color: #7C6038;
  font-family: 'montigny';
  font-size: 89px;
  font-style: normal;
  font-weight: 400;
  line-height: 72%;
}

.myt span {
  display: block;
}

.date {
  position: absolute;
  bottom: -3px;
  color: #7C6038;
  font-family: 'Open Sans';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 72%;
}

.primerimg{
  width: 634.863px;
  height: 441.732px;
  transform: rotate(-0.059deg);
  background-image: url('../src/img/DSC_0108.JPG');
  background-size: cover;  
  background-repeat: no-repeat; 
  background-position: 45%; 
  margin: 20px 10px 20px 10px;
}


.wedding {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  margin-top: 51px; 
}

.wedding p{
  color: #9B6147;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.17px;
}

.date {
  display: flex;
  justify-content: center; 
  align-items: flex-start;  /* Cambia "center" a "flex-start" para alinear en la parte superior */
}

.date p{
  color: #9B6147;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.17px;
  margin-top: 50px;
}

.title {
  position: absolute;
  width: 189px;
  height: 120px;
}

.title p{
  font-family: 'amsterdam-one';
  color: #7C6038;
  font-size: 89px;
  font-style: normal;
  font-weight: 400;
  line-height: 72%;
}

.container {
  display: flex;           
  justify-content: center; 
  align-items: center;     
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  background-color:rgba(182, 112, 52, 0.60) !important;
  padding: 50px;
  margin: 20px 0 20px; /* Espaciado entre las tarjetas */
  border-radius: inherit !important;
  --bs-card-border-color: none !important;
}

.text p{ 
  margin: 1px;
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.casarnos {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2 {
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; 
  flex-shrink: 0;
  background-color: #ffffff; /* Color de fondo de la tarjeta */
  position: relative; /* Para que el pseudo-elemento se posicione en relación con .card */
  padding: 20px; /* Espaciado interno para que el contenido no toque el borde interno */
  box-sizing: border-box; 
  margin: 20px 0px 20px 0px;
}

.white-line {
  width: 70%;
  height: 2px;
  background-color: white;
  margin: 30px 0 30px;
}

.squares-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 146px;
  height: 158px;  /* Igual que el ancho para hacerlo un cuadrado */
  background-color: #8A9595; /* Color de fondo del cuadrado, puedes cambiarlo */
  margin: 7px;   /* Espacio entre cuadrados */
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2.17px;
  display: flex;
  flex-direction: column; /* Hace que los hijos de .square se apilen verticalmente */
  align-items: center;    /* Centra los hijos horizontalmente */
  justify-content: space-between; /* Distribuye el espacio entre las dos "secciones" */
}

.square > div:first-child {
  display: flex; 
  flex: 1; 
  align-items: center; 
  justify-content: center; 
  margin-top: 15px;
}

.square > div:nth-child(2) {
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  display: flex; 
  flex: 1; 
  align-items: flex-start; 
  justify-content: center; 
  
}

.iconAnillos {
  margin-top: 29px;
  height: 55px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alianzas {
  background-size: 130px;
  width: 160%;
  height: 120%;
  background-image: url('../src/img/aliandas 1.png');
  background-size: contain; /* Asegura que la imagen se ajuste al contenedor */
  background-repeat: no-repeat;
  background-position: center;
}

.celebracion{
  font-Size: 90px;
  font-Weight: 400;
  font-Family: 'montigny';
  margin-Right: 20px;
  display: flex;           
  justify-content: center; 
  align-items: center;  
  margin: 1px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 1.17px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.salon, .hs{
  font-Size: 45px;
  font-Weight: 400;
  display: flex;           
  justify-content: center; 
  align-items: center;   
  margin: 1px;
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans';
  margin: 1px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 1.17px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.Hotel{
  font-Size: 25px;
  font-Weight: 100;
  display: flex;           
  justify-content: center; 
  align-items: center;  
  font-family: 'Open Sans'; 
  margin: 1px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 1.17px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.Evento{
  font-Size: 25px;
  font-Weight: 100;
  display: flex;           
  justify-content: center; 
  align-items: center; 
  font-family: 'Open Sans';  
  margin: 1px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 1.17px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}


.divLlegar{
  margin-top: -30px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.divSpotify {
    margin-top: -30px;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.ComoLlegarConfir{
  width: 253px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 28px;
  border: none;
  cursor: pointer;
  background-color: #FFF;
  color: #B67034;
  border-radius: 18px;
  font-size: 26px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 185.5%;
  outline: none;
  margin-top: 41px;;
}

.iconSpotify{
  height: 70px;
  margin-bottom: -7px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.spotify {
  background-size: 130px;
  width: 160%;
  height: 120%;
  background-image: url('../src/img/spotify.png');
  background-size: contain; /* Asegura que la imagen se ajuste al contenedor */
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 54px;
}

.cards1{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

.tarjeta1 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  width: 417.145px;
  height: 592.229px;
  flex-shrink: 0;
  background: rgba(182, 112, 52, 0.61);
  margin-right: 10px; 
}

.tarjeta2 {
  width: 340.177px;
  height: 516.206px;
  flex-shrink: 0;
  background: rgba(182, 112, 52, 0.93);
}

.img2{
  background-image: url('../src/img/DSC_0227.JPG');
  background-size: cover;  
  background-repeat: no-repeat; 
  background-position: 75%;   
  margin: 20px 10px 20px 10px;
  margin-left: 10px;
  width: 417.145px;
  height: 592.229px;
  transform: rotate(-0.06deg);
  flex-shrink: 0;
}

.cards3{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

.tarjeta3 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  width: 417.145px;
  height: 592.229px;
  flex-shrink: 0;
  background: rgba(138, 149, 149, 0.75);
  margin-right: 10px; 
}

.tarjeta4 {
  width: 340.177px;
  height: 516.206px;
  flex-shrink: 0;
  background: rgba(138, 149, 149, 0.95);
} 

.tarjeta4 p{ 
  display: flex;
  transform: rotate(-0.199deg);
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 39.125px */
}

.img3{
  background-image: url('../src/img/IMG_5002.jpg');
  background-size: cover;  
  background-repeat: no-repeat; 
  background-position: center;   
  margin: 10px 20px 10px 0px;
  width: 417.145px;
  height: 592.229px;
  transform: rotate(-0.06deg);
  flex-shrink: 0;
}

.iconContainer {
  position: relative;
  width: 289.933px;  
  height: 286px;    
}

.circleDress {
  width: 289.933px;
  height: 286px;
  border-radius: 289.933px;
  position: relative;
  right: 18%;
  background: linear-gradient(180deg, #E56868 0%, rgba(217, 217, 217, 0.00) 100%);
}

.iconDress {
  background-image: url('../src/img/dress.png');
  background-repeat: no-repeat;
  background-size: 300px 250px;
  background-position: center;
  width: 320px;
  height: 304px;
  position: absolute;
  top: 65%;
  left: 43%;
  transform: translate(-50%, -50%); /* Centrar el ícono en relación al contenedor */
}

.dress {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center; 
  margin-bottom: 70px
}

.tituloDress {
 font-Family: 'montigny';
 font-size: 100px;
 color: #FFF;
 margin-bottom: 10px;
}

.msjDress{
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 80%; 
  margin: 10px 0; 
}

.cardDress {
  width: 1000px;
  height: 420px;
  background-color: rgba(182, 112, 52, 0.60);
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 10px;
  display: flex;           
  justify-content: center; 
  align-items: center;     
}

.cardNinos {
  width: 1000px;
  height: 420px;
  background-color: rgba(182, 112, 52, 0.60);
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 10px;
}

.titulo {
  font-family: 'montigny';
  font-size: 100px;
  margin: 0; /* Elimina el margen predeterminado de los párrafos */
  color: white; /* Asumiendo que quieres que el texto sea blanco. Ajusta según sea necesario */
}

.mensaje {
  font-size: 20px; /* Ajusta según sea necesario */
  text-align: center;
  margin: 10px 0;
  color: #FFF;
  font-family: 'Open Sans';
}
.container2 {
  display: flex;            /* Habilita Flexbox */
  align-items: center;      /* Centra los hijos verticalmente */
}

.circleTitle img {
  height: 339px;
}

.circleContainer {
  width: 583px;
  overflow: hidden;
}

.circleConfir {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  gap: 10px;   
  width: 100%;
  height: 600px;
  background-color: rgba(182, 112, 52, 0.78);
  border-radius: 50%;
  position: relative;
  transform: translateY(-50%); /* Mueve el círculo hacia arriba para mostrar solo la mitad superior */
}

.circleConfir p {
  text-align: center;
  font-size: 22px;
  width: 366px;
  color: #FFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  margin: 5px 0;
}

.textGroup {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 260px 0px -10px 0px;
}

.buttonConfir {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  padding: 10px 20px;    
  border: none;          
  cursor: pointer;       
  background-color: #FFF;
  color: #B67034;
  border-radius: 18px;   
  font-size: 26px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 185.5%; 
  outline: none;
}

.buttonSpotify {
  width: 253px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 28px;
  border: none;
  cursor: pointer;
  background-color: #FFF;
  color: #8A9595;
  border-radius: 18px;
  font-size: 26px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 185.5%;
  outline: none;
  margin-top: 90px;
}

.modal {
  position: fixed; /* Esto hará que el modal esté "pegado" a la ventana del navegador */
  top: 0;          /* Comienza desde la parte superior de la ventana del navegador */
  left: 0;         /* Comienza desde la izquierda de la ventana del navegador */
  width: 100%;     /* Ocupa todo el ancho de la ventana del navegador */
  height: 40%;   /* Ocupa todo el alto de la ventana del navegador */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;     /* Centra el contenido verticalmente */
  background-color: rgba(0, 0, 0, 0); 
  margin-top: 193px;
  border: none !important;
}


.modal-content {
  width: 45%; /* Ajusta según el diseño de tu modal */
  max-width: 500px; /* Asegura que el modal no sea demasiado grande */
  padding: 18px;
  background-image: url('./img/o657.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  background-size: 530%;
  background-position: top left;
}

.intro-section {
  margin-bottom: 20px;
  text-align: center;
}

.intro-section p {
  color: rgba(182, 112, 52, 0.93);
  margin-bottom: -11px;
}

.confirmation-message {
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centrará el ícono y el texto en el medio del contenedor */
  justify-content: center; /* Esto centrará el ícono y el texto verticalmente en el contenedor */
  background-color: rgba(182, 112, 52, 0.7);
  padding: 10px 0;
  border-radius: 10px;
  margin: 16px;
  text-align: center;
  height: 336px;
}

.confirmation-message-zapatos {
  margin: 4px 0;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

.confirmation-message-esperamos{
  font-family:'montigny';
  font-size: 75px;
  color: white;
  margin-top: 5px;
  margin-bottom: 33px;
}

.iconDance { 
  height: 100px;
  width: 80px;
  margin-bottom: 117px;
  margin-left: -39px;
}

.dance {
  width: 150%;
  height: 600%;
  background-image: url('../src/img/Mask\ group.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.bank-details {
  background-color: rgba(182, 112, 52, 0.7);
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: -13px;
  text-align: center;
}

.bank-details-menu {
  background-color: rgba(182, 112, 52, 0.7);
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 478px;
}

.bank-details-menu p {
  margin: 3px 0;
  color: white;
  font-size: 13.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank-details p {
  margin: 3px 0;
  color: white;
  font-size: 16px;
  
}

.bank-details-menu select {
  width: 175px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.87);
  border: none;
  color: rgba(182, 112, 52, 0.93);
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 72%;
  padding: 5px 10px;
  margin-top: 6px;
}


.confirm-details {
  text-align: center;
  margin-bottom: 20px;
}

.confirm-details P{
  color: rgba(182, 112, 52, 0.93);
  font-family: 'montigny';
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 1px;
  margin-bottom: -3px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group{
  flex-basis: 30%;
  box-sizing: border-box; 
  padding: 10px;
  border: none;
} 

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgba(182, 112, 52, 0.93);
  border: none
}

.form-group input {
  width: 200px;
  height: 42px;
  border-radius: 12px;
  background-color: rgba(182, 113, 52, 0.445);
  border: none;
  color: white;
  padding-left: 10px;
}


input {
  border: none;
  outline: none; /* Esto es para eliminar el borde o el resaltado que aparece cuando el input está enfocado en algunos navegadores */
}

/* Eliminar el resaltado adicional en estado de enfoque */
input:focus {
  outline: none;
  box-shadow: none; /* Esto es para eliminar cualquier sombra que algunos navegadores agregan en el estado de enfoque */
}

/* Webkit browsers like Safari and Chrome */
input::-webkit-input-placeholder {
  color: white;
}

/* Mozilla Firefox */
input::-moz-placeholder {
  color: white;
  opacity: 1; /* Firefox reduce la opacidad por defecto */
}

/* Microsoft Edge and Internet Explorer */
input:-ms-input-placeholder {
  color: white;
}

/* Microsoft Edge 18 */
input::-ms-input-placeholder {
  color: white;
}

/* Modern browsers */
input::placeholder {
  color: white;
}

.container-bottomConfir{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100%; 
}

.bottomConfir{
  width: 299px;
  height: 45px;
  border-radius: 12px;
  background: rgba(182, 112, 52, 0.93);
  color: #ffffff;
  color: #FFF;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 72%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6px;
  transition: all 0.1s;  
} 

.bottomConfir:active {
  background: rgba(182, 112, 52, 0.8);  
  transform: translate(2px, 2px);  
}

.close-button {
  background-color: transparent; /* No background color */
  color: rgba(182, 112, 52, 0.93);
  border: none; /* No border */
  font-size: 22px; /* Tamaño de fuente más grande para hacerlo más visible */
  font-weight: 400; /* Hacer la X un poco más gruesa */
  position: absolute; /* Posicionamiento absoluto dentro de su contenedor relativo más cercano */
  top: 12px; /* Espacio desde la parte superior del modal */
  right: 10px; /* Espacio desde la derecha del modal */
  cursor: pointer; /* Cambia el cursor a una mano cuando pasas por encima */
}


.close-button:focus {
  outline: none;
}


@media (min-width: 1024px) {
  .circleTitle {
    width: 583px;
    height: 588px;
    margin: 30px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 320px) {
  .form-group input {
    width: 96px;
  }

  .bank-details-menu p {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .circleTitle {
    width: 30%; 
  }
  .modal {
    margin-top: 170px;
  }

  .modal-content {
    width: 80%; /* Ajusta según el diseño de tu modal */
    padding: 18px;
  }

  .confirmation-message-zapatos {
    font-size: 14px;
  }

  .confirmation-message-esperamos{
    font-size: 55px;
  }

  .iconDance {
    height: 34px;
  }

  .rectanguloPadre {
    width: 90%;  /* Ajusta el ancho para que sea más adaptativo */
    margin: 20px auto;  /* Centra el contenedor y añade margen arriba y abajo */
    height: auto;
  }

  .container {
    flex-direction: column;  /* Los hijos de .container se apilan verticalmente */
  }

  .form-group input {
    width: 110px;
    height: 35px;
  }

  .intro-section p {
    margin-bottom: -4px;
    font-size: 11px;
  }

  .bank-details {
    margin-bottom: -15px;
  }

  .primerimg {
    width: 100%;
    margin: 20px 0;  
  }

  .img2, .img3{
    width: 100%;
    margin: 20px 0;  
  }

  .card {
    width: 70%;
    margin: 20px 0;  
  }

  .cardNinos{
    width: 100%;
    height: 230px;
    margin: 20px 0;  
  }

  .titulo {
    font-size: 55px;
  }

  .mensaje{
    font-size: 13px;
    width: 358.5px;
    margin: 1px;
  }

  .circleDress {
    width: 135px;
    height: 135px;
    margin-bottom: 100px;
    border-radius: 140px;
    right: 8%;
  }

  .iconContainer{
    height: 120px;
    width: 129px;
  }

  .iconDress {
    background-size: 110px 100px;
    width: 160px;
    height: 152px;
    left: 53%;
  }

  .dress{
    margin-bottom: 50px;
  }

  .tituloDress{
    font-size: 53px;
    margin-bottom: -10px;
  }

  .msjDress{
    font-size: 12.5px;
    margin: 5px 0; 
  }

  .cardDress {
    width: 100%;  /* Ajusta el ancho para que sea más adaptativo */
    height: 250px; 
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .cards1, .cards3 {
    flex-direction: column;  /* Las tarjetas se apilan verticalmente */
  }

  .alianzas{
    width: 120%;
    height: 100%;
  }

  .celebracion {
    font-Size: 60px;
  }
  
  .salon, .hs {
    font-Size: 30px;
  }

  .Hotel, .Evento {
    font-Size: 20px;
  }
  .ComoLlegarConfir{
    width: 184px;
    height: 43px;
    font-size: 19px;
    margin-top: 51px;
  }

  .spotify {
    width: 110%;
    height: 100%;
  }

  .buttonSpotify {
    width: 184px;
    height: 43px;
    font-size: 20px;
    margin-top: 51px;
  }

  .tarjeta4 p {
    font-size: 18px;
  }

  .buttonComollegar{
    margin-left: -45px;
    margin-top: 28px;
    margin-left: -13px;
    margin-top: 57px;
    width: 164px;
    height: 44px;
    font-size: 20px;
  }

  .circleConfir {
    width: 100%;
    height: 400px;
    gap: 1px;
  }

  .circleConfir p{
    font-size: 18px;
  }

  .confirm-details p {
    font-size: 40px;
    margin-bottom: -4px;
  }

  .buttonConfir{
    width: 150px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 85px;
  }

  .bottomConfir{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 351px;
    font-size: 18px;
  }

  .bank-details-menu {
    width: 100%;
  }

  .bank-details-menu p{
    font-size: 11px;
    width: 100%;
  }
  
  .bank-details-menu select{
    margin-left: -9px;
    width: 136px;
    height: 31px;
    font-size: 12px;
  }

  .tarjeta1, .tarjeta3 {
    width: 90%;
    margin: 20px 0;
    height: 492.22900000000004px;
  }
  
  .tarjeta2, .tarjeta4 {
    width: 80%;
    height: 426.206px;
  }

  .bank-details p {
    font-size: 12px;
  }

  .bar{
    width: 319px;
    border-radius: 0px;
  }

  .text p {
    font-size: 17px;
    margin: 9px 0;/* Cambia el tamaño de la fuente si lo consideras necesario */
    line-height: 1.5;
    width: 300px;
  }

  .casarnos {
    font-size: 30px;  /* Reduce el tamaño de fuente */
  }

  .square {
    height: 92px;
    width: 75px;
    margin: 4px;
  }

  .square > div:first-child {
    font-size: 28px;  /* Reduce el tamaño de fuente */
  }

  .square > div:nth-child(2) {
    font-size: 11px;  /* Reduce el tamaño de fuente */
  }

  /* Aquí puedes agregar más estilos específicos para pantallas pequeñas */
}
